body {
  text-align: center;
  font-size: 40px;
  background: linear-gradient(to right, #f12711, #f5af19);
  margin: 0 auto;
  width: 800px;
  align-items: center;
  justify-content: center;
}

.info {
  margin: auto;
  border: 4px solid black;
  box-shadow: 4px 4px 8px #333;
  border-radius: 20px;
  padding: 16px;
  border-width: 2px;
  width: 900px;
  justify-content: center;
}

#spotify {
  color: #1DB954;
}